[ng\:cloak],[ng-cloak],.ng-cloak{display:none!important}
.page.woocommerce-checkout .breadcrumbs{display:none}
#article .checkout .breadcrumbs{display:block}
#article .checkout .breadcrumbs a{font-size:13px}
.checkout .breadcrumbs .separator{float:none;width:auto}
.align-center{float:none;margin:0 auto}
.checkout-form{border:solid 2px #a6a7a8;padding:15px}
.woocommerce-checkout #post-title{display:none}
.checkout-form{color:#1f1f1f}
.checkout .checkout-billing label { font-size: 11px; }
.checkout .checkout-payment-details label{ font-size: 11px; }
.checkout .checkout-payment-details input { color: #777777; margin: 0; vertical-align: middle; }
.checkout .checkout-payment-details h3 { border-bottom: none; font-size: 13px; }
.checkout .checkout-delivery-details { }
.checkout .checkout-delivery-details h3 { border-bottom: none; font-size: 13px; }
.checkout .checkout-delivery-details label { font-size: 9px; }
.checkout .checkout-delivery-details input { margin: 0; margin-top: -3px; vertical-align: middle; }
.checkout .checkout-payment-details { font-size: 11px; }
.checkout .checkout-product-summary { padding-top: 10%; }
.checkout .checkout-product-summary .text-right { margin: 5% 0; padding-right: 0; }
.checkout a{font-size:10px}
.checkout .checkout-form-title{border-bottom:solid 2px #dad9d9; margin-bottom:15px}
.checkout ::-webkit-input-placeholder{color:#777777;}
.checkout ::-moz-placeholder{color:#777777;}
.checkout :-moz-placeholder{color:#777777;}
.checkout :-ms-input-placeholder{color:#777777;}
.checkout .btn-checkout{background:#fff; border-radius: 0; border:solid 1px #777777;color:#777777;font-size:11px;padding:8px;margin-top:0}
.checkout .btn-checkout:hover { color: white; background-color: #a0a0a0; transition: background-color 125ms linear; }
.no-padding{padding:0!important}
.no-padding-left{padding-left:0!important}
.no-padding-right{padding-right:0!important}
.checkout-or-section{height:318px;position:relative}
.checkout-or-section h3{line-height:265px;color:#1f1f1f}
.checkout-as-guest a{font-size:13px;margin:121px 0;padding:10px 0;display:block;text-align:center;border-top:solid 2px #dad9d9;border-bottom:solid 2px #dad9d9}
.checkout-form .error,.error-field{border:solid 1px red}
.separator{width:100%;clear:both;float:left;height:15px}
.checkout .checkout-confirm-table { padding-top: 10%; }
.checkout-confirm-table img{ width:100% }
.checkout-confirm-table tr td{ width:25%;border:none; font-family:WhitneyLight, WhitneyBook; text-transform: uppercase; }
.checkout-details .btn-edit{ font-size:16px;margin-top:32px;display:none; }
.checkout-details:hover .btn-edit{ display:block; }
.checkout-create-account-title{margin: 0 0 10px 0;}
.checkout-title-separator{ margin:25px 0; }
.margin-top-5 {margin-top: 5%;}
.woocommerce-error{display:none;}
.coupons-added {line-height: 34px;}